<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>THE BOL GAME - Error :(</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <h1>This is embarrassing... Something went wrong :(</h1>

        <p th:if="${exception != null}" th:text="${exception}" style="color:#FF0000;"/>
        <br/>
        <p><a th:href="@{/bol-game}" >BACK TO GAME</a></p>
        <p><a th:href="@{/bol-game:restart}" >RESTART GAME</a></p>
    </body>
</html>